In [78]:
import pandas as pd
from functools import reduce

In [79]:
f1 = pd.read_csv('/home/ro/PycharmProjects/Books words counts/David Copperfield.csv', sep='\t')

In [80]:
f1 = f1.rename(index=str, columns={'0': 'words', '1': 'D.Copperfield'})
len(f1)

14057

In [81]:
f1.columns

Index(['words', 'D.Copperfield'], dtype='object')

In [82]:
f1.shape

(14057, 2)

In [38]:
f2 = pd.read_csv('/home/ro/PycharmProjects/Books words counts/The Quantum Universe.csv', sep='\t')

In [83]:
f2 = f2.rename(index=str, columns={'0': 'words', '1': 'Q.Universe'})
len(f2)

7589

In [84]:
f2.columns

Index(['words', 'Q.Universe'], dtype='object')

In [42]:
f3 = pd.read_csv('/home/ro/PycharmProjects/Books words counts/A Unified Physics.csv', sep='\t')

In [85]:
f3 = f3.rename(index=str, columns={'0': 'words', '1': 'U.Physics'})
len(f3)

7274

In [86]:
f3.columns

Index(['words', 'U.Physics'], dtype='object')

In [90]:
f4 = pd.read_csv('/home/ro/PycharmProjects/Books words counts/Scientific American Brave New Brain.csv', sep='\t')

In [91]:
f4 = f4.rename(index=str, columns={'0': 'words', '1': 'A.Brain'})
len(f4)

6898

In [92]:
f4.columns

Index(['words', 'A.Brain'], dtype='object')

In [46]:
f5 = pd.read_csv('/home/ro/PycharmProjects/Books words counts/The Pathway Of Youth.csv', sep='\t')

In [93]:
f5 = f5.rename(index=str, columns={'0': 'words', '1': 'Youth'})
len(f5)

8098

In [94]:
f5.columns

Index(['words', 'Youth'], dtype='object')

In [20]:
# dfs = [df0, df1, df2, dfN]
# df_final = reduce(lambda left,right: pd.merge(left,right,on='name'), dfs)

In [95]:
m1 = pd.merge(f1, f2, on = 'words', how = 'outer')

In [96]:
m1.head()

    words  D.Copperfield  Q.Universe
0    said         2948.0         9.0
1  little         1063.0        15.0
2   would          984.0       102.0
3     one          884.0        99.0
4   could          856.0        87.0

In [98]:
m2 = pd.merge(m1, f3, on = 'words', how = 'outer')
m2.shape

(20993, 4)

In [99]:
m2.head()

    words  D.Copperfield  Q.Universe  U.Physics
0    said         2948.0         9.0        9.0
1  little         1063.0        15.0       14.0
2   would          984.0       102.0       74.0
3     one          884.0        99.0      128.0
4   could          856.0        87.0       81.0

In [100]:
m3 = pd.merge(m2, f4, on = 'words', how = 'outer')

In [101]:
m3.shape

(23382, 5)

In [103]:
m3.head()

    words  D.Copperfield  Q.Universe  U.Physics  A.Brain
0    said         2948.0         9.0        9.0     17.0
1  little         1063.0        15.0       14.0     12.0
2   would          984.0       102.0       74.0     49.0
3     one          884.0        99.0      128.0    112.0
4   could          856.0        87.0       81.0    127.0

In [104]:
m4 = pd.merge(m3, f5, on = 'words', how = 'outer')

In [105]:
m4.shape

(25681, 6)

In [106]:
m4.head()

    words  D.Copperfield  Q.Universe  U.Physics  A.Brain  Youth
0    said         2948.0         9.0        9.0     17.0    9.0
1  little         1063.0        15.0       14.0     12.0   14.0
2   would          984.0       102.0       74.0     49.0  117.0
3     one          884.0        99.0      128.0    112.0  142.0
4   could          856.0        87.0       81.0    127.0  110.0

In [107]:
m4['Total'] = m4['D.Copperfield'] + m4['Q.Universe'] + m4['U.Physics'] + m4['A.Brain'] + m4['Youth']

In [108]:
m4.head()

    words  D.Copperfield  Q.Universe  U.Physics  A.Brain  Youth   Total
0    said         2948.0         9.0        9.0     17.0    9.0  2992.0
1  little         1063.0        15.0       14.0     12.0   14.0  1118.0
2   would          984.0       102.0       74.0     49.0  117.0  1326.0
3     one          884.0        99.0      128.0    112.0  142.0  1365.0
4   could          856.0        87.0       81.0    127.0  110.0  1261.0

In [118]:
sort_book_words = m4.sort_values(by=['Total', 'words'], ascending=False)

In [119]:
sort_book_words.head()

      words  D.Copperfield  Q.Universe  U.Physics  A.Brain  Youth   Total
0      said         2948.0         9.0        9.0     17.0    9.0  2992.0
3       one          884.0        99.0      128.0    112.0  142.0  1365.0
2     would          984.0       102.0       74.0     49.0  117.0  1326.0
3088  brain            6.0        67.0       18.0   1148.0   34.0  1273.0
4     could          856.0        87.0       81.0    127.0  110.0  1261.0

In [120]:
sort_book_words.to_csv('5 knygu zodziai.csv', sep='\t', encoding='utf-8')

In [122]:
w_sum = sort_book_words['Total'].sum()
w_sum

116998.0

In [142]:
a = sort_book_words['Total'].iloc[1].sum()
a[-1:, 0]

IndexError: invalid index to scalar variable.

In [131]:
percent = a / w_sum * 100
percent

TypeError: ufunc 'true_divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''